.section6{
    width: 100%;
    padding: 50px 0;
    .sec6con{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .text{
            text-align: center;
            width: 50%;
            h1{
                color: #0F4332;
                font-weight: 700;
                position: relative;
                margin-bottom: 30px;
                font-size: 40px;
                &::before{
                    content: "";
                    position: absolute;
                    width: 110px;
                    height: 3px;
                    bottom: -20px;
                    left: calc(50% - 55px);
                    background-color: #10C98F;
                }
            }
        }
        .sec6card{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            div{
                max-width: calc(33% - 20px);
                flex: 1 1 calc(33% - 20px);
                display: flex;
                flex-direction: column;
                gap: 20px;
                &:hover a{
                    color: #10C98F;
                }
                img{
                    width: 100%;
                    height: auto;
                }
                h6{
                    font-weight: 400;
                    color: gray;
                    font-size: 18px;
                    letter-spacing: 2px;
                }
                a{
                    font-size: 25px;
                    font-weight: 600;
                    color: #0F4332;
                    line-height: 1.4;
                    transition: all 0.3s ease;
                }
                p{
                    font-size: 18px;
                    line-height: 1.6;
                    color: gray;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) and (min-width: 576px){
    .section6{
        .sec6con{
            .text{
                width: 100%;
            }
            .sec6card{
                div{
                    flex: 1 1 calc(50% - 20px);
                    max-width: calc(50% - 20px);
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .section6{
        .sec6con{
            .text{
                width: 100%;
            }
            .sec6card{
                div{
                    flex: 1 1 100%;
                    max-width: 100%;
                }
            }
        }
    }
}